.account{
  background-color: #f0f2f5;
}



.account .head{
  position: relative;
  background-color: #efefef;
  color: #000000;
  font-size: 16px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  z-index: 22;
  border-bottom: 1px solid #e3e5e9;
}